@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: rgb(80, 58, 128);
  background: linear-gradient(173deg, rgba(80, 58, 128, 1) 0%, rgb(34, 34, 34) 38%);
  background-repeat: no-repeat;
  min-height: 100vh;
}